<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>One Way and Two Way Binding</title>
    <!-- CSS -->
    <script src="vue.js"></script>
</head>
<body>
    <!-- HTML -->
    <div id="app">
        <!-- <h3 v-once>{{message}}</h3> -->
        <!-- <input type="text" v-bind:value="message">-->
        <input type="text" v-model:value="message"> 
        <p>{{say()}} - <a v-bind:href="link_MT">MailTarget</a></p> <!--bersifat reaktif, jadi saat message diubah maka message akan berubah pada halaman web -->
        <!-- v-bind = to build data html atribut on js and (:) 
            v-model = to made a binding data in form input, textarea dan select element-->
         <!-- v-once = never change, only once rendering -->
        <hr>
        <!-- <p>{{finishedLink}}</p> only string -->
        <h3 v-once>v-once = never change, only once rendering</h3>
        <p v-html="finishedLink"></p>
        <!-- menampilkan html berupa link tapi bukan berupa string/alamatnya -->
    </div>
    <!-- JS -->
    <script>
        var app = new Vue({ //id app
            el: "#app", ///memilih element, disini element yg dipilih itu app
            data: {
                message: "Nurul Karimah Amin", // data binding dengan {{message}} antara kode java script dan html
                link_MT:"http://mtarget.co",
                finishedLink: '<a href="http://google.com">Goggle</a>'
            },
            // cek di console, to know thats change
            methods: {
                say:function() 
                {
                    return this.message;
                }
            }
        })
    </script>
</body>
</html>


<!-- + accessing data in the vue 
+ binding
+ using directives (v-)
+ use v_once
+ raw v-html  -->