<script src="vue.js"></script>

<div id="exercise">
    
<div id="exercise">
    <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
     <p>VueJS is pretty cool - {{ name }} ({{age}})</p>
     <!-- 2) Output your age, multiplied by 3 -->
     <p> {{ageMultiplied(3)}}</p>
     <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
     <p>{{randomNum()}}</p>
     <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
     <div>
         <img style="width:100px;height:100px" v-bind:src=image>
     </div>
     <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
     <div>
         <input type="text" v-bind:value=name>
     </div>
 </div>
</div>

<script>
    new Vue({
	el: '#exercise',
	data: {
		name: 'Nurul Karimah Amin',
		age: 21,
		image: 'https://www.ikea.com/ca/en/images/products/smycka-artificial-flower-rose-white__0638911_PE699258_S5.JPG?f=xxs',
	},
	methods: {
		ageMultiplied: function(multiplier){
			return this.age * multiplier
		},
		randomNum: function(){
			return Math.random()
		}
	}
})
</script>