<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Increase</title>

    <!-- Menyisipkan Vuejs dari CDN -->
    <script src="vue.js"></script>
</head>
<body>

    <!-- elemen kontainer untuk aplikasi -->
    <div id="app"> <!--kontainer-->
        <button v-on:click="counter++">increase</button>
        <button v-on:click="counter--">Decrease</button>
        <button v-on:click="secondCounter++">increase Second</button>
        <p>Counter : {{ counter }} | {{secondCounter}}</p>
        <p>Result : {{ result()}} | {{output}}</p>
    </div>
    
    <!-- JS -->
    <script>
        var app = new Vue({ 
            el: "#app",
            data:{
                counter: 0,
                secondCounter: 0
            },
            computed:{
                output: function() {
                    console.log('Computed');
                    return this.secondCounter > 5 ? 'Greater 5' : 'Smaller than 5';
                }
            },
            watch:{
                counter: function(value) {
                    var vm = this;
                    setTimeout(function () {
                        vm.counter=0;
                    },2000);
                }
            },
            methods: {
                result: function(){
                    console.log('Method');
                    return this.counter > 5 ? 'Greater 5' : 'Smaller than 5'
                }
            }
        });
    </script>
</body>
</html>

<!-- + increase/decrease 
+ watching for changes -->