<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>On Click</title>
</head>
<body>
    <!-- Menyisipkan Vuejs dari CDN -->
    <script src="vue.js"></script>

    <div id="app">
        <!-- +argument with event -->
        <button v-on:click="increase(2, $event)">
            <!-- increase(2) bertambah 2 setiap klik -->
            Click Me
        </button>

        <button v-on:click="counter++">
            <!-- increase(2) bertambah 2 setiap klik -->
            Click Me
        </button>
        <!-- crate operations math -->
        <p>{{counter > 10 ? 'Greater than 10' : 'smaller than 10'}}</p>
        <p>{{counter}}</p>

        <!-- event data to the object -->
        <p v-on:mousemove="updateCoordinates">
            Coordinates {{ x }} / {{ y }}
            - <span v-on:mousemove.stop="">DEAD SPOT</span>
        </p>
        <input type="text" v-on:enter.space="alertMe">

    </div>
</body>

<script>
    var app = new Vue({
        el:'#app',
        data:{
            counter: 0,
            x: 0,
            y: 0,
        },
        methods: {
            increase: function(step, event) {
                this.counter+=step;
            },
            updateCoordinates: function (event) {
                  this. x = event.clientX;
                  this. y = event.clientY;
            },
            // dummy: function(event) {
            //     event.stopPropagation();
                
            // }
            alertMe: function () {
                alert('Alert!');
                
            }

        }
    })
</script>

<!-- + v-on 
+ mousemove
+ argumen yang memengaruhi nilai event
+ Coordinates/dead spot (line)
+ alert ! when enter and space-->